
<h1>Welcome</h1>



<%= link_to 'new post',new_post_path, remote: true%>

<div class="new"></div>

 <table id="posts" class="table1">
 	
 	<tr>
 		<th>Title</th>
 		<th>Body</th>
 		<th>Event</th>
 		<th>Count</th>
 	</tr>
 		<%= render @posts %>
 </table>

<div>
	<h1>Check box</h1>
	<%= form_tag '/posts' do%>
		<%Category.all.each do |category|%>
			<%= label_tag "#{category.name}" %>
			
			<%= check_box_tag 'category[]', "#{category.name}", false,{ class: "category_#{category.id}",id: "cat"} %><br>
			 <ul> <% category.sub_categories.each do |sub_category| %>
					<%= label_tag "#{sub_category.name}" %>
					<%= check_box_tag 'sub_category[]', "#{sub_category.name}", false, { class: "sub_category",data: {id: category.id}} %><br>
			<% end %></ul>
		<% end %>
		<%= submit_tag 'save' %>
	<% end %>
</div>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<script type="text/javascript">
	 $(document).on("change", ".sub_category", function(){
    var id = $(this).data("id");

    if ($('.sub_category').is(':checked')){
    	$(".category_"+id).prop('checked', true);
    }
    else{
    	$(".category_"+id).prop('checked', false);
    }
  })	
</script>






<!-- <div id="posts">

	<div class="title">
		<strong>Title</strong>
		<strong>Body</strong>
		<strong>event</strong>
	</div>
	<%#= render @posts %>	
</div>
 -->

 <!-- without partial -->
<!-- <div class="index_post", id="index_<%= @posts %>">
	<%# debugger %>
	<div>
			<strong>Title</strong>
			<strong>body</strong>
			
	</div> -->
	<!-- <div class="uploader">
		<%# @posts.each do |post| %>
			<div class="test"  id= "post_<%#= post.id %>">
				<%#= post.title %>
				<%#= post.body %>
				<%#= link_to 'comment', new_comment_path(post_id: post.id), remote: true %>	
			</div>
			<div>
				<%# post.comments.each do |comment| %>
					<div class="c">
						<strong>Comment:</strong>
						<%#= comment.comment %>
					</div>
				<%# end %>
				<%# debugger %>
					<div class="comment_count" id="comment_<%#= post.id %>">
						<%# count = post.comments.count %>
						<%#= count > 0 ? count : ""  %>	
					</div>
					commentform 
				<div class="comment" id="comment-<%#= post.id %>"></div> 
				show somment
				<div class="comment_show" id="comment_show<%#= post.id %>"></div>
			</div>
		<%# end %>
			<div class="empty"></div>
	</div> -->
<!-- </div> -->
<!-- <div class="posts">
	
</div> -->
<!-- <ul id="posts">

	<div class="title">
		<strong>Title</strong>
		<strong>Body</strong>
		<strong>event</strong>
	</div>
	<%#= render @posts %>
	
	
</ul> -->